h1 {
  color:#206FA9;
  background-color:#8dec98;
  text-align: center;
}
h2{
  color:#206FA9;
}
td {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  height: 100px;
  width: 100px;
  text-align: center;
  font-size: 60px;
}
table {
  border-color: black;
  border-width: 1px;
  border-style: solid;
}
